@{
    ViewBag.Title = "Add Device";
}
<div class="card">
    <div class="card-header">
        <h2>Add Device <small></small></h2>
    </div>
    <div class="card-body card-padding">
        <div class="form-group">
            <div class="fg-line">
                <label class="control-label" for="inputSuccess1">Device Id</label>
                <select id="deviceId" class="form-control">
                    <option value="-1">Select Device Id</option>
                    <option value="0001010053415931">0001010053415931</option>
                    <option value="0001010053415931">0001010053415931</option>
                    <option value="0001010053415931">0001010053415931</option>
                    <option value="0001010053415931">0001010053415931</option>
                    <option value="0001010053415931">0001010053415931</option>
                </select>
            </div>
            <small class="help-block hide">This is a successfull help block</small>
        </div>
        <div class="form-groupg">
            <div class="fg-line">
                <label class="control-label" for="inputWarning1">Location</label>
                <select id="deviceId" class="form-control">
                    <option value="-1">Select Location</option>
                    <option value="KUALA LUMPUR">KUALA LUMPUR</option>
                    <option value="SHAH ALAM">SHAH ALAM</option>
                    <option value="KLANG">KLANG</option>
                    <option value="PETALING JAYA">PETALING JAYA</option>
                    <option value="RAWANG">RAWANG</option>
                    <option value="IPOH">IPOH</option>
                    <option value="KAJANG">KAJANG</option>
                    <option value="MELAKA">MELAKA</option>
                    <option value="SEREMBAN">SEREMBAN</option>
                </select>
            </div>
            <small class="help-block hide">This is a warning help block</small>
        </div>
        <br />
        <div class="form-group">
            <div class="fg-line">
                <label class="control-label" for="inputError1">Remarks</label>
                <input type="text" class="form-control" id="inputError1" value="Located in Floor#2">
            </div>
            <small class="help-block hide">This is an error help block</small>
        </div>
        <br />
        <button type="submit" class="btn btn-primary btn-sm m-t-10">Submit</button>
    </div>
</div>
